<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    
</head> 
<body>
    <nav> 
        <a href="{{ url_for('home') }}" class="link">Maintenance</a> 
        <a href="{{ url_for('system') }}" class="link">System</a>
        <a href="{{ url_for('pump') }}" class="link">Pump</a> 
        <a href="{{ url_for('schedule') }}" class="link">Schedule</a> 
        <a href="{{ url_for('project') }}" class="link">Project</a>

    </nav>
    <div class="all">
        <h1>Database Frontend Prototype</h1>
        <div class="container">
            <div id="clickables">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate">
            
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate">
                    <button id="searchdate">Search Date</button>
            
            

                <div class="inputs">
                    <label for="searchpump">Search by PumpName</label>
                    <input type="text" id="searchpump">
                </div>
                <div class="inputs">
                    <label for="searchproj">Search by ProjectName</label>
                    <input type="text" id="searchproj">
                </div>
                <div class="inputs">
                    <label for="searchschedule">Search by ScheduleID</label>
                    <input type="text" id="searchschedule">
                </div>
                <button id="searchmaintenance">Search by Pump/Proj/Schedule</button>
                <select id="table" placeholder="table">
                    <option disabled selected>Table</option>
                    <option value="addtable">Add</option>
                    <option value="deletetable">Delete</option>
                </select>
                <select id="row">
                    <option disabled selected>Rows</option>
                    <option value="addrow">Add</option>
                    <option value="changerow">Change</option>
                </select>
                    <button id="maintenanceimplement">Implement Action (for dropdown)</button>
                <div id="mjsinput">
        
                </div>
            </div>

            <div>
            <br>
            <table>
                <thead>
                    <tr>
                        <th colspan="7">Maintenance</th>
                    </tr>
                    <tr>
                        <th>Select</th>
                        <th>MaintenanceID</th>
                        <th>SystemID</th>
                        <th>ProjectID</th>
                        <th>Maintenance Date</th>
                        <th>Description</th>
                        <th>ScheduleID</th>
                    </tr>
                </thead>
                <tbody id="maintenance-data">
                    <tr>
                        <td colspan="7">Loading data...</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    
</body>
</html>