<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head> 
<body>
    <nav> 
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="width:90px; height:auto">      
        <a href="{{ url_for('home') }}" class="link">Maintenance</a> 
        <a href="{{ url_for('system') }}" class="link">System</a>
        <a href="{{ url_for('pump') }}" class="link">Pump</a> 
        <a href="{{ url_for('schedule') }}" class="link">Schedule</a> 
        <a href="{{ url_for('project') }}" class="link">Project</a>
    </nav>
    <div class="all">
        <h1>Pump</h1>

        <div class="container">
            <div class="clickables">
                <button id="pumpdelete" onclick="return confirm('Are you sure you want to delete these rows?')">Delete Rows</button>

                <select id="pumprow">
                    <option disabled selected>Rows</option>
                    <option value="addrow">Add</option>
                    <option value="changerow">Change</option>
                </select>
                    <button id="pumpimplement">Implement Action (for dropdown)</button>
                <div id="pumpjsinput">
        
                </div>
            </div>
            <br>
            <table id="pumptable">
                <thead>
                    <tr id="pump-header-row">
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody id="pump-data">
                    <tr>
                        <td colspan="7">Loading data...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>