<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head> 
<body>
    <nav> 
        <a href="{{ url_for('home') }}" class="link">Maintenance</a> 
        <a href="{{ url_for('system') }}" class="link">System</a>
        <a href="{{ url_for('pump') }}" class="link">Pump</a> 
        <a href="{{ url_for('schedule') }}" class="link">Schedule</a> 
        <a href="{{ url_for('project') }}" class="link">Project</a>

    </nav>

    <div class="all">
        <h1>Schedule</h1>

        <div class="clickables">
            <div class="inputs">
                <label for="searchdate">Search by Month</label>
                <select id="searchdate">
                    <option disabled selected>Select a month</option>
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
                <button id="clickdate">Search</button>

                

            </div>
            <select id="schedulerow">
                <option disabled selected>Rows</option>
                <option value="addrow">Add</option>
                <option value="changerow">Change</option>
            </select>
                <button id="scheduleimplement">Implement Action (for dropdown)</button>
                <button id="scheduledelete">Delete</button>
            <div id="schedulejsinput">
    
            </div>
        </div>
        <div class="container">
            <table id="scheduletable">
                <thead>
                    <tr id="schedule-header-row">
                    </tr>
                </thead>
                <tbody id="schedule-data">
                    <tr>
                        <td colspan="4">Loading data...</td>
                    </tr>
                </tbody>
            </table> 

        </div>
    </div>
    
</body>
</html>
