<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head> 
<body>
    <nav> 
        <a href="{{ url_for('home') }}" class="link">Maintenance</a> 
        <a href="{{ url_for('system') }}" class="link">System</a>
        <a href="{{ url_for('pump') }}" class="link">Pump</a> 
        <a href="{{ url_for('schedule') }}" class="link">Schedule</a> 
        <a href="{{ url_for('project') }}" class="link">Project</a>

    </nav>
    
    <div class="all">
        <h1>Database Frontend Prototype</h1>
        
        <div class="container">
            <div class="clickables">
                    
                <select id="systemrow">
                    <option disabled selected>Rows</option>
                    <option value="addrow">Add</option>
                    <option value="changerow">Change</option>
                </select>
                    <button id="systemimplement">Implement Action (for dropdown)</button>
                    <button id="systemdelete">Delete</button>
                <div id="systemjsinput">
        
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th colspan="19">System</th>
                    </tr>
                    <tr>
                        <th>Select</th>
                        <th>SystemID</th>
                        <th>System Name</th>
                        <th>Aerator</th>
                        <th>PumpID</th>
                        <th>Description</th>
                        <th>Additional Comp</th>
                        <th>Manufacturer</th>
                        <th>GPD</th>
                        <th>Manual</th>
                    </tr>
                </thead>
                <tbody id="system-data">
                    <tr>
                        <td colspan="10">Loading data...</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
   
</body>
</html>